body {
  background-color: #004d00;
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
button[aria-label="Connect Wallet"] {
    display: none !important;
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
}

.wallet-button {
  width: 180px;
  height: 45px;
  font-size: 1.2em;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #007bff;
  color: #fff;
}

.wallet-button:hover {
  background: #3399ff;
}


